@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* --- APRESENTATION --- */

section.apresentation {
  width: 100%;
  padding: 16px;
  background-color: #000000;
  color: #E4FF41;
}

section.apresentation > div.content {
  width: 100%;
  max-width: 1078px;
}

/* APRESENTATION HEADER */

section.apresentation > div.content > header.header {
  display: flex;
  flex-direction: column-reverse;
}

section.apresentation > div.content > header.header > p.who {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  max-width: 184px;
}

section.apresentation > div.content > header.header > ul.languages {
  list-style: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  margin-left: 0;
  margin-bottom: 48px;
}

section.apresentation > div.content > header.header > ul.languages > li.language_label {
  display: inline;
  cursor: pointer;
}

section.apresentation > div.content > header.header > ul.languages > li.language_label.__active {
  font-weight: bold;
}

/* APRESENTATION CONTENT */

section.apresentation > div.content > div.apresentation_content > h1.page_title {
  position: relative;
  font-family: 'Krona One', sans-serif;
  font-size: 56px;
  line-height: 1.02em;
  text-transform: uppercase;
  left: -2px;
}

section.apresentation > div.content > div.apresentation_content > div.page_description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.apresentation > div.content > div.apresentation_content > div.page_description_wrapper > p.page_description {
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  line-height: 140%;
  text-transform: lowercase;
}

section.apresentation > div.content > div.apresentation_content > div.page_description_wrapper > a {
  font-family: 'Roboto Mono', monospace;
  color: #E4FF41;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
}

/* APRESENTATION INFORMATION SOURCE */

section.apresentation > div.content > p.information_source {
  margin-top: 32px;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  line-height: 16px;
}

/* --- BRAZIL COVID DATA --- */

section.brazil_covid_data {
  width: 100%;
  padding: 16px;
  background-color: #181818;
  color: #FFFFFF;
}

section.brazil_covid_data > div.content {
  width: 100%;
  max-width: 1078px;
}

section.brazil_covid_data > div.content > header.header {
  padding-bottom: 32px;
  border-bottom: solid 3px #FFFFFF;
}

section.brazil_covid_data > div.content > header.header > img {
  width: 72px;
  vertical-align: middle;
  margin-bottom: 16px;
}


section.brazil_covid_data > div.content > header.header > div.title_wrapper {
  display: inline-block;
  vertical-align: middle;
}

section.brazil_covid_data > div.content > header.header > div.title_wrapper > h2.title {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 0px;
}

section.brazil_covid_data > div.content > header.header > div.title_wrapper > p.updated {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0px;
}

section.brazil_covid_data > div.content > .days_without_minister {
  margin-top: 16px;
  margin-bottom: 16px;
}

section.brazil_covid_data > div.content > .days_without_minister > .number {
  display: inline-block;
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 136px;
  text-align: left;
  line-height: 1em;
  margin-top: 16px;
  letter-spacing: -0.1em;
  color: #E4FF41;
  vertical-align: middle;
  margin-left: -12px;
}

section.brazil_covid_data > div.content > .days_without_minister > .text {
  display: inline-block;
  max-width: 366px;
  font-family: Roboto Mono;
  font-style: normal;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  color: #E4FF41;
  vertical-align: middle;
  text-align: left;
}

section.brazil_covid_data > div.content > div.global_data > div.data > span.number {
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: -0.1em;
}

section.brazil_covid_data > div.content > div.global_data > div.data > p.text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

/* --- GLOBAL COVID DATA --- */
  
section.global_covid_data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 16px;
  background-color: #FFFFFF;
  color: #000000;
}

section.global_covid_data > div.content {
  width: 100%;
  max-width: 1078px;
}

section.global_covid_data > div.content > header.header {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: solid 3px #000000;
}

section.global_covid_data > div.content > header.header > img {
  vertical-align: middle;
  margin-bottom: 0;
}

section.global_covid_data > div.content > header.header > div.title_wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-top: 16px;
}

section.global_covid_data > div.content > header.header > div.title_wrapper > h2.title {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 16px;
}

section.global_covid_data > div.content > header.header > div.title_wrapper > p.updated {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0px;
}

section.global_covid_data > div.content > div.global_data > div.data > span.number {
  font-family: Krona One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: -0.1em;
}

section.global_covid_data > div.content > div.global_data > div.data > p.text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

footer > h3 {
  padding: 16px;
  text-align: center;
  background-color: #E4FF41;
  color: #000000;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px;
}

footer > h3 > a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

@media (min-width: 769px) {
  section.apresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }

  section.apresentation > div.content > header.header {
    display: flex;
    justify-content: space-between;
  }

  section.apresentation > div.content > div.apresentation_content {
    display: flex;
    align-items: stretch;
  }

  section.apresentation > div.content > div.apresentation_content > h1.page_title {
    position: relative;
    font-family: 'Krona One', sans-serif;
    font-size: 144px;
    line-height: 1.02em;
    text-transform: uppercase;
    left: -12px;
    margin-bottom: -12px;
  }

  section.apresentation > div.content > header.header {
    display: flex;
    justify-content: space-between;
  }

  section.apresentation > div.content > div.apresentation_content > div.page_description_wrapper {
    margin-left: 32px;
  }

  section.apresentation > div.content > div.apresentation_content > div.page_description_wrapper > p.page_description {
    font-size: 14px;
  }

  section.apresentation > div.content > div.apresentation_content > div.page_description_wrapper > a {
    font-size: 18px;
  }
  
  section.apresentation > div.content > p.information_source {
    font-size: 14px;
  }

  section.brazil_covid_data {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  section.brazil_covid_data > div.content > header.header > img {
    width: 80px;
    margin-bottom: 0;
  }

  section.brazil_covid_data > div.content > header.header > div.title_wrapper {
    margin-left: 16px;
  }

  section.brazil_covid_data > div.content > .days_without_minister > .number {
    font-size: 240px;
    line-height: 300px;
    line-height: 300px;
    text-align: center;
    vertical-align: middle;
    margin-left: 0px;
  }

  section.brazil_covid_data > div.content > .days_without_minister > .text {
    margin-left: 32px;
  }

  section.brazil_covid_data > div.content > .days_without_minister {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  section.brazil_covid_data > div.content > div.global_data {
    display: flex;
    justify-content: space-between;
  }
  
  section.brazil_covid_data > div.content > div.global_data > div.data {
    text-align: center;
  }

  section.global_covid_data {
    padding: 80px 16px;
  }

  section.global_covid_data > div.content > header.header > img {
    width: 80px;
    margin-bottom: 0;
  }

  section.global_covid_data > div.content > header.header > div.title_wrapper {
    margin-left: 16px;
  }

  section.global_covid_data > div.content > div.global_data > div.data {
    text-align: center;
  }

  section.global_covid_data > div.content > div.global_data {
    display: flex;
    justify-content: space-between;
  }

}